.fixed-top {
    width: 100%;
    display: flex;
    align-items: stretch;
    justify-content: center;
    -webkit-box-shadow: 0 4px 6px -6px #222;
    -moz-box-shadow: 0 4px 6px -6px #222;
    box-shadow: 0 4px 6px -6px #222;
    background-color: white;
    /*filter: blur(4px);*/
    animation: fadeIn 1s ease-in both;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate3d(0, -20%, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.fixed-top .logobrand {
    width: 8%;
    padding: 1% 2%;
    border-right: 1px solid rgba(187, 187, 187, 0.212);
    text-align: center;
}

.fixed-top .logobrand img {
    width: 80%;
}

.fixed-top .menusbrand {
    width: 92%;
    display: flex;
    align-items: stretch;
    justify-content: center;
}

.fixed-top .menusbrand .menu-sd-one {
    width: 70%;
    padding: 2%;
}

.fixed-top .menusbrand .menu-sd-two {
    width: 30%;
    text-align: end;
    padding: 1%;
}

.fixed-top ul li a {
    display: block;
    float: left;
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}

.fixed-top ul li a:hover {
    background-color: transparent;
    color: orange;
    font-size: 14.1px;
    animation: fadeInAnimation ease 0.5s;
}

.active-fixed-1 {
    color: rgb(255, 255, 255);
    background-image: linear-gradient(to top, rgba(255, 154, 2, 0.123) 0%, rgba(255, 255, 255, 0) 100%);
}

.active-fixed-2 {
    color: rgb(0, 0, 0);
    background-image: linear-gradient(to top, rgba(2, 175, 255, 0.123) 0%, rgba(255, 255, 255, 0) 100%);
}
