body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    overflow-x: hidden;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    background-color: rgba(155, 155, 155, 0.11);
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

header {
    width: 100vw;
    position: absolute;
    z-index: 10;
}

.navbar{
    -webkit-box-shadow: 0 4px 6px -6px #222;
    -moz-box-shadow: 0 4px 6px -6px #222;
    box-shadow: 0 4px 6px -6px #222;
    /*filter: blur(4px);*/
}

.fixed-top {
    -webkit-box-shadow: 0 4px 6px -6px #222;
    -moz-box-shadow: 0 4px 6px -6px #222;
    box-shadow: 0 4px 6px -6px #222;
    background-color: white;
    /*filter: blur(4px);*/
}

.fixed-top .nav-link{
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}

.bg-navbar{
    background-color: rgba(0, 7, 15, 0.336);
}

.small-register{
    display: none;
}

.bg-navbar .nav-link{
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}

.bg-navbar ul li a:hover {
    background-color: transparent;
    color: orange;
    font-size: 14.1px;
    animation: fadeInAnimation ease 0.5s;
}

.fixed-top ul li a:hover {
    background-color: transparent;
    color: orange;
    font-size: 14.1px;
    animation: fadeInAnimation ease 0.5s;
}

.bg-header{
    position: relative;
    top: 0px;
    width: 100vw;
    height: 525px;
    background-image: linear-gradient(to right, rgba(1, 49, 121, 0.699) 10%,rgba(156, 198, 238, 0.055) 100%),  url(/img/header/img-5.png);
    background-size: cover;
    padding: 12% 5%;
    display: block;
}

.bg-header .title-header{
    width: 55%;
}


.bg-header-home .title-header{
    width: 95%;
    margin-bottom: 5%;
}

.title-header h1{
    font-size: 60px;
    font-weight: bold;
    color: #fff;
    letter-spacing: -1px;
}

.title-header h2{
    font-size: 50px;
    font-weight: bold;
    color: #fff;
    letter-spacing: -1px;
}

.title-header h4{
    font-size: 40px;
    font-weight: bold;
    color: #fff;
    letter-spacing: -1px;
}

.title-header h6{
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    letter-spacing: -1px;
}

.btn-header{
    background-color: white;
    padding: 1.1% 2%;
    font-size: 16px;
    text-align: center;
    font-weight: bolder;
    color: #0175d4;
}

.others-actions{
    width: 100%;
    position: relative;
    z-index: 1;
    bottom: 40px;
    padding: 0% 7%;
    margin: 0;
}

.actions .col-3{
    background-color: white;
    -webkit-box-shadow: 0 4px 6px -6px #222;
    -moz-box-shadow: 0 4px 6px -6px #222;
    box-shadow: 0 5px 6px -6px #222;
    padding: 2% 2%;
}

.actions i{
    font-size: 28px;
    color: #0175d4;
}

.actions a{
    font-size: 18px;
    color: #0175d4;
}


/* first header of the website */
.bg-header-home{
    position: relative;
    top: 0px;
    width: 100vw;
    height: 525px;
    display: block;
}

.bg-header-item{
    width: 100%;
    height: 525px;
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    padding: 12% 5%;
}


::-webkit-scrollbar {
    width: 2px;
}


/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.8);
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(0, 27, 37, 0.4);
}

.head-img{
    position: relative;
    top: 0px;
    width: 100vw;
    height: 220px;
    background-image: linear-gradient(to right, rgba(1, 49, 121, 0.699) 10%,rgba(1, 27, 51, 0.527) 100%),  url(/img/header/img-9.jpg);
    background-size: cover;
    background-position: center;
    padding: 12% 5%;
    display: block;
}
